
/*
Site : Alex, photographer
Site URL :
Version: 1.0
Author: Amelie MEUNIER
Author URL: http://
Date : 18 dec. 2013
*/

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/proximanova-semibold-webfont.eot');
    src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family:'ProximaNova-Regular';
	text-align:center;
}

a {
	text-decoration: none;
}

span {
	color:#f26c63;
}

.inner {
	width:960px;
	margin:0 auto;
}

/*-----------HEADER---------------*/
#header {
	background-image:url('../images/alex-header.jpg');
	-webkit-background-size: cover; /* pour Chrome et Safari */
  	-moz-background-size: cover; /* pour Firefox */
  	-o-background-size: cover; /* pour Opera */
  	background-size: cover;
  	height:960px;
}
	#header h1 a{
		display:block;
		text-indent: -9999px;
		padding-top:185px;
		margin:0 auto 160px;
		height:81px;
		width:76px;
		background:url('../images/ico.png')  center bottom no-repeat;
	}

	#header .intro{
		color:white;
		font-size:40px;
	}

	#header .behance {
		display:block;
		margin:156px auto 160px;
	} 

/*---------------CONTENT-----------------*/

#content {
	padding-bottom:140px;
}

	#content h2 {
		font:34px 'ProximaNova-Semibold';
		color:#3d4245;
		margin:115px 0 60px;
	}


	#content .gallery img{
		display:block;
		float:left;
		margin:0 30px 30px 0;
	}

	#content .gallery img:nth-child(3),#content .gallery img:nth-child(3n+4){
		margin:0 0 30px 0; /* enleve la marge droite des images colonne droite */
	}

	#content .gallery img:last-child {
		margin-bottom:117px;
	}


	#content .about p{
		font:32px 'ProximaNova-Light';
		width:757px;
		margin:0 auto 73px;
		color:#747474;
	}
	#content .about a{
		display:block;
		width:384px;
		height:70px;
		background-color: #f26c63;
		color:white;
		font:28px 'ProximaNova-Light';
		line-height: 70px;
		text-align: center;
		margin:0 auto;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}


/*-------footer----------*/
#footer {
	background-color:#1b1b1b;
	height:84px;
	font:16px 'ProximaNova-Regular';
	color:#5b5b5b;
	line-height:84px;
}

	#footer p, #footer ul li {
		float:left;
	}

	#footer ul {
		float:right;
	}

		#footer ul li {
			margin-left:20px;
		}

		#footer ul li a:hover {
			text-decoration: underline;
		}
		
		#footer .behance {
			color:#005cff;
		}

		#footer .instagram {
			color:#3f729b;
		}	

		#footer .twitter{
			color:#41cdfd;
		}